#header {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C565E4), color-stop(0.74, #85E3FF));
    background: -o-linear-gradient(bottom, #C565E4 0%, #85E3FF 74%);
    background: -moz-linear-gradient(bottom, #C565E4 0%, #85E3FF 74%);
    background: -webkit-linear-gradient(bottom, #C565E4 0%, #85E3FF 74%);
    background: -ms-linear-gradient(bottom, #C565E4 0%, #85E3FF 74%);
    background: linear-gradient(to bottom, #C565E4 0%, #85E3FF 74%);
    border-style: solid;
    border-width: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: -9px -5px 20px -6px rgba(59,87,77,1);
    -moz-box-shadow: -9px -5px 20px -6px rgba(59,87,77,1);
    box-shadow: -9px -5px 20px -6px rgba(59,87,77,1);
    margin:0px;
}

#header h1 {
    padding:10px;
    margin:0px;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 200%;
    color:#FE9A2E;
    background: url(images/banner.jpg) no-repeat top left;
    height:18%;
    border-radius: 10px ;
    text-shadow: 2px 2px 5px #E6E6E6;   
}

#message {
    padding:1%;
    margin:0px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.74, #87FFFF), color-stop(1, #A3A9FF));
    background: -o-linear-gradient(bottom, #87FFFF 74%, #A3A9FF 100%);
    background: -moz-linear-gradient(bottom, #87FFFF 74%, #A3A9FF 100%);
    background: -webkit-linear-gradient(bottom, #87FFFF 74%, #A3A9FF 100%);
    background: -ms-linear-gradient(bottom, #87FFFF 74%, #A3A9FF 100%);
    background: linear-gradient(to bottom, #87FFFF 74%, #A3A9FF 100%);
    font-size:1.66em;
    color:#F78181;
    text-align:center;
    text-shadow: 2px 2px 5px #E6E6E6;   
    -webkit-box-shadow: -9px -5px 20px -6px rgba(6,71,47,1);
    -moz-box-shadow: -9px -5px 20px -6px rgba(6,71,47,1);
    box-shadow: -9px -5px 20px -6px rgba(6,71,47,1);
}

#content {
    float:left;
    width:70%;
    color:#FF0000;
    line-height:1.5em;  
    transition-property: background, width, margin-left, margin-right, border-radius, font-size, font-weight, font-style;
    transition-duration: 3s, 3s;
    -webkit-transition-property: background, width, margin-left, margin-right, border-radius, font-size, font-weight, font-style;
    -webkit-transition-duration: 3s, 3s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    margin:0px;
}

#content:hover {
    background:#F6CEE3;
    width:85%;
    margin-left: 15%;
    margin-right:5%;
    border-radius: 5px;
    font-size: 125%;
    font-weight: bold;
    font-style:italic;
}

#content h1 {
    margin-bottom: 1em;
    padding: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:170%;
    color: #61380B;
}

.gutter {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color:#aaa;
    background-color: #FFFFFF;
    opacity:0.5;
    border-radius:5%;
    -webkit-box-shadow: 17px -20px 44px 8px rgba(189,92,27,1);
    -moz-box-shadow: 17px -20px 44px 8px rgba(189,92,27,1);
    box-shadow: 17px -20px 44px 8px rgba(189,92,27,1);
}

#sidebar {
    float: right;
    width: 30%;
}

#footer {
    clear:both;
    margin:0;
    padding:1%;
    border-style: solid;
    border-width: 3px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C565E4), color-stop(0.74, #85E3FF));
    background: -o-linear-gradient(bottom, #C565E4 0%, #85E3FF 74%);
    background: -moz-linear-gradient(bottom, #C565E4 0%, #85E3FF 74%);
    background: -webkit-linear-gradient(bottom, #C565E4 0%, #85E3FF 74%);
    background: -ms-linear-gradient(bottom, #C565E4 0%, #85E3FF 74%);
    background: linear-gradient(to bottom, #C565E4 0%, #85E3FF 74%);
    font-size: 90%;
    color:#FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: -9px -5px 20px -6px rgba(59,87,77,1);
    -moz-box-shadow: -9px -5px 20px -6px rgba(59,87,77,1);
    box-shadow: -9px -5px 20px -6px rgba(59,87,77,1);
}   

body {
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/2/27/Maui,_Hawaii_beach.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a:visited {
    color:#FA5858;
}   

a:link {
    color:#0040FF;
}

.box {
    margin-right:0px;
    padding-bottom:10px;
    font-size:85%;
    line-height:1.5em;
    color:#31B404;
    background-color: #F2E0F7;
    -webkit-box-shadow: 17px -20px 44px 8px rgba(89,81,75,1);
    -moz-box-shadow: 17px -20px 44px 8px rgba(89,81,75,1);
    box-shadow: 17px -20px 44px 8px rgba(89,81,75,1);
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box h2 {
    padding:10px;
    margin:0px;
    font-size:170%;
    font-family: Tahoma, Geneva, sans-serif;
    color:#FA5858;
}

.box p {
    padding-left:15px;
    padding-right:15px;
    margin:0px;
    font-size:140%;
}

.box ul {
    padding-left:15px;
    padding-right:15px;
    margin:0px;
    list-style-type: none;
}

.box ul li {
    padding-left:12px;
    margin-left:12px;
    background-image: url(http://katewhittington.com/wp-content/uploads/2012/04/bulletpoint.gif);
    background-repeat: no-repeat;
    background-position: 0 3px ;
}

.box:hover {
    color:#F3E2A9;
    background: #CEECF5;
    opacity:0.8;
}

.box:focus {
    color:#F781BE;
    background: #F7F8E0;
    opacity:0.8;
}

.feature dl {   
    padding:1%;
    margin-top:5px;
    margin-bottom:10px;
    border-top:3px dashed #E6E6E6;
}

.feature dt { 
    margin-bottom: 0.5em;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 140%;
    color: #8181F7;
    text-shadow: 2px 2px 5px #E6E6E6;
}

.feature dt img {
    float:left;
    margin-right:10px;
    padding-left:1%;
    padding-right:1%;
    border:2px solid #FA58F4;
}

.feature dd {
    font-family: "Courier New", Courier, monospace;
    font-size:100%;
    line-height:1.5em;
}

.feature:hover {
    color:#086A87;
    background-color: #E3F6CE;
    opacity:1;
}

.feature:focus {
    color:#7401DF;
    background-color: #F8E0E0;
    opacity:1;
}

.feature.alternate dt img {
    float:right;
    margin-left:10px;
    padding-left:1%;
    padding-right:1%;
    border:1px double #848484;
}

.feature.alternate dd {
    font-family: Tahoma, Geneva, sans-serif;
}

.feature.alternate dt {
    color: #5F4C0B;
    font-size: 140%;
    text-shadow: 2px 2px 5px #E6E6E6;
}

.feature.alternate dl:hover {
    color:#4000FF;
    background-color: #F1F8E0;
    opacity:1;
}

.feature.alternate dl:focus {
    color:#4B610B;
    background-color: #D0F5A9;
    opacity:1;
}

.dotted {
    border:5px dotted #3B0B0B;
    font-size: 120%;
}

.itinerary-highlight {
    font-size:160%;   
}   