#header{
       border-top-left-radius:5%;
       border-top-right-radius:5%;
       box-shadow:1px 1px 4px #660066;
       border:4px solid #333333;
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #663366), color-stop(1, #336666));
       background: -o-linear-gradient(bottom, #663366 0%, #336666 100%);
       background: -moz-linear-gradient(bottom, #663366 0%, #336666 100%);
       background: -webkit-linear-gradient(bottom, #663366 0%, #336666 100%);
       background: -ms-linear-gradient(bottom, #663366 0%, #336666 100%);
       background: linear-gradient(to bottom, #663366 0%, #336666 100%);
}
#header h1{
          background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMZVPNzJin4kJ6UjAh0Zpgf-RSlIodXE4MjIVUogwQNsVsrGC0');
          background-repeat:no-repeat;
          background-position:left top;
          background-size:430px 350px;
          border-top-left-radius:5%;
          height:200px;
          width:700px;
          font-family:Helvetica;
          font-size:2em;
          padding:4px;
          color:red;
          text-shadow:2px 2px yellow;

}
#header img{
           align: top left;
           border-top-left-radius:5%;
           height:100px;
}
body{
     background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMZVPNzJin4kJ6UjAh0Zpgf-RSlIodXE4MjIVUogwQNsVsrGC0');
     background-repeat:no-repeat;
     background-size:cover;
     background-attachment: fixed;

}
#message{
         background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1212FF), color-stop(1, #29ED44));
         background-image: -o-linear-gradient(top, #1212FF 0%, #29ED44 100%);
         background-image: -moz-linear-gradient(top, #1212FF 0%, #29ED44 100%);
         background-image: -webkit-linear-gradient(top, #1212FF 0%, #29ED44 100%);
         background-image: -ms-linear-gradient(top, #1212FF 0%, #29ED44 100%);
         background-image: linear-gradient(to top, #1212FF 0%, #29ED44 100%);
         text-align:center;
         font-size:2em;
         color:navy;
         padding:2px;
         margin: 0px;
         text-shadow:2px 2px gold;
         box-shadow: 1px 1px 2px 3px #333300;
}
#content{
         float:left;
         width:70%;
         margin:0px;
         color:indigo;
         line-height:1.5em;
         transit-property:background, width , font-size , border-radius , margin-left , margin-right, height;
         transit-duration:2s,1s,2s,1s,2s,2s,1s;
         -webkit-transition-duration: 2s, 2s, 2s, 2s, 2s, 2s, 1s;
	       -webkit-transition-property: background, width,font-size, border-radius, margin-left, margin-right, height;
	        transition-timing-function: ease;
	        -webkit-transition-timing-function: ease;

}
#content:hover{
               background:#B45F04;
               width:90%;
               margin-left:70px;
               margin-right:140px;
               border-radius:30%;
               font-size:10pt;
}
#content h1{
            margin-bottom:1em;
            font-family:verdana;
            font-size:170%;
            color:#00CCFF;
            padding: 0px;
            margin-left:1em;

}
#content .gutter{
         background-color:white;
         border:2px solid gray;
         padding:8px;
         margin-top:30px;
         margin-bottom:30px;
         opacity:0.5;
         border-radius:10%;
         box-shadow:5px 4px 5px #003366;
}
.dotted{
         border:5px dotted black;
         font-size: 120%;
}
#fsize{
     font-size:xx-large;
}
#color1{
        font-weight:bold;
        color:#FF6666;
}
#color2{
        font-weight:bold;
        color:#003333	;
}
#color3
{
        font-weight:bold;
        color:#990000;
}
#sidebar{
         float:right;
         height:5%;
         width:30%;
}

.box{
     width:30%
     float: right;
     margin-right: 4px;
     padding-bottom:3px;
     font-size:85%;
     line-height:1.5em;
     color:#330066;
     background-color:#339999;
     box-shadow:2px 1px cyan;
     border:1px solid purple;
     border-top-left-radius:10%;
     border-bottom-right-radius:10%;
     margin-left: 8px;
	   margin-bottom: 8px;
	   margin-top: 8px;
}

.box h2{
        padding:3px;
        font-size:170%;
        font-family:'Comic San MS','Book Antiqua';
        color:#EECCFF;
        margin:0px;
}
.box:hover {
	color:maroon;
	background-color: #663366;
	opacity: 0.8;
}

.box:focus {
	color:#240B3B;
	background-color: orange;
	opacity: 0.8;
}
.box:hover h2{
	color:#610B0B;
}
.box p{
       padding-left:1px;
       padding-right:0.5px;
       margin:0px;
       font-size:140%;
}
.box ul{
       padding-left:5px;
       padding-right:5px;
       margin:0px;
       list-type:none;
       font-size:12pt;

}
.box ul li{
        padding-left: 25px;
        margin-left:8px;
        background-image: url('./img/bullet2.jpeg');
        background-repeat: no-repeat;
        background-position: 0px 3px;
        background-size: 12px 12px;
        list-style: none;
}


dl {
             padding:4px;
             margin-top:20px;
             margin-bottom:20px;
             border-top:3px dashed #FF0033;
}
.feature:hover {
	color: black;
	background-color:#666699 ;
	opacity: 1;
}

.feature:focus {
	color: brown;
	background-color: #81BEF7;
	opacity: 1;
}
.feature dt{
            margin-bottom:0.5em;
            font-family:Times New Roman;
            font-size:140%;
            font-weight:bold;
            color:#240B3B;
            text-shadow:4px 3px cyan;
}
.feature dt img{
    float:left;
    margin-right:9px;
    padding-left:5px;
    padding-right:5px;
    border:15px grove #FFCC00;
    width:100px;
    height:100px;
}
.feature dd{
            font-family: Courier New;
            font-size: 24px;
            line-height:1.5em;
            color:#000033;
}
.alternate dt img{
                     float:right;
                     border:4px groove maroon;
}
.alternate dd{
              color:#990033;
              font-family:monospace;
              text-shadow:2px 3px orange;
              font-size: 140%;
}
.alternate dt{
             color:#000066;
             font-family: Arial;
             text-shadow:2px 3px magenta;
             font-size: 140%;
}

.alternate:hover {
	color:#990033;
	background-color: #A9BCF5;
	opacity: 1;
}

.alternate:focus {
	color: #000066;
	background-color: #FA8258;
	opacity: 1;
}
a:link{
      color:darkgreen;
      text-decoration:none;
}
a:visited{
         color:yellow;
         text-decoration:underline;
}
a:hover{
       color:navy;
       text-decoration:none;
}
a:active{
        color:#880000;
        text-decoration:overline;
}

#footer{
        clear:both;
        border:2px solid #333333;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #663366), color-stop(1, #336666));
        background: -o-linear-gradient(bottom, #663366 0%, #709494 100%);
        background: -moz-linear-gradient(bottom, #663366 0%, #709494 100%);
        background: -webkit-linear-gradient(bottom, #663366 0%, #709494 100%);
        background: -ms-linear-gradient(bottom, #663366 0%, #709494 100%);
        background: linear-gradient(to bottom, #663366 0%, #709494 100%);
        font-size:90%;
        color:white;
        height:30px;
        margin:0px;
        padding:5px;
        border-radius:0px 0px 20px 20px;
        box-shadow: 3px 2px -10px #FF00FF;
}